@keyframes efeito-abrir-menu {
  0%{top: 40px;
  }
  50%{
    top: 45px;
  }
  100%{
    top: 50px;
  }
}

.details-menu[open] .details-itens-menu{animation: efeito-abrir-menu 300ms ease-in-out forwards;}


