@keyframes efeito-abrir-menu{
  0%  {top:40px;}
  50% {top:45px;}
  100%{top:50px;
  }
}

@keyframes efeito-abrir-menu-responsivo{
  0%  {bottom:-100%;}
  100%{bottom:0%;}
}

@media (min-width: 1024px){
  .tail-details-menu[open] .tail-details-itens-menu{animation: efeito-abrir-menu 300ms ease-in-out forwards;}   
}

@media (max-width: 1024px){
  .tail-details-menu .tail-details-itens-menu{animation: efeito-abrir-menu-responsivo 300ms ease-in-out forwards;}   
}

.tail-backdrop-menu {
  background-color: rgba(0, 0, 0, 0.359);
}